<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Confidence Chronogram. Cronogramas confiáveis!" />
  <title>Cronograma Confiável</title>
  <link rel="icon" href="{% static 'images/android-icon-36x36.png' %}">

   <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  
   <!-- Custom styles for this template -->
   <link rel="stylesheet" href="{% static 'css/business-frontpage.css' %}">
   
   <!--https://saeedalipoor.github.io/icono/-->
   <link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">
   
   <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
</head>

<body>
<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">CRONOGRAMA CONFIÁVEL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'funcionario' %}">
              <button type="button" class="btn btn-sm" style="color: mintcream;">
              MEUS DADOS
              </button>
            </a>
          </li> 
          
          <li class="nav-item" style="margin-top: 0.99%;">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: mintcream;">
                    Cadastrar Usuário
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'account:cadastrar_cliente' %}">Cliente</a>
                    <a class="dropdown-item" href="{% url 'account:cadastrar_funcionario' %}">Funcionário</a>
                  </div>
                </div>
          </li>
          <li class="nav-item" style="margin-top: 0.99%;">
            <div class="btn-group">
              <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: mintcream;">
                Obra
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'empreiteira_list' %}">Empreiteira</a>
                <a class="dropdown-item" href="{% url 'mao_de_obra_list' %}">Mão de Obra</a>
                <a class="dropdown-item" href="{% url 'funcionario_da_obra_list' %}">Funcionário da Obra</a>
                <a class="dropdown-item" href="{% url 'detalhe_mao_de_obra_list' %}">Detalhe Mão de Obra</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'deposito_list' %}">Depósito</a>
                <a class="dropdown-item" href="{% url 'material_list' %}">Material</a>
                <a class="dropdown-item" href="{% url 'detalhe_material_list' %}">Detalhe Material</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'orgao_list' %}">Orgão</a>
                <a class="dropdown-item" href="{% url 'taxa_list' %}">Taxa</a>
                <a class="dropdown-item" href="{% url 'detalhe_taxa_list' %}">Detalhe Taxa</a>
                
              </div>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'chronogram_list' %}">
              <button type="button" class="btn btn-sm" style="color: mintcream;">
                Cronogramas
                <span class="icono-file" aria-hidden="true">(current)</span>  
              </button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'task_list' %}">
              <button type="button" class="btn btn-sm" style="color: mintcream;">
              Tarefas
              <span class="icono-list" aria-hidden="true"></span>
              </button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'comentario_list_fun' %}">
              <button type="button" class="btn btn-sm" style="color: mintcream;">
                Comentários
                <span class="icono-list" aria-hidden="true"></span>  
              </button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'clientes_list' %}">
              <button type="button" class="btn btn-sm" style="color: mintcream;">
                Clientes
                <span class="icono-list" aria-hidden="true"></span>  
              </button>
            </a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout_user' %}">
                <button type="button" class="btn btn-sm" style="color: mintcream;">
                  Logout
                  <span class="icono-signOut" aria-hidden="true"></span>
                </button>
            <a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="content" style="padding-top: 45px;">
    <div class="content" style="padding-left: 45px; padding-right: 45px; padding-bottom: 45px;">
      {% block content %}{% endblock %}  <!--serve como place holder para colocar conteúdo -->
    </div>
    <div class="footer text-center" style="background-color: rgb(145, 145, 240);">
      <p>Copyright &copy; Cronograma Confiável {% now "Y" as current_year %} {{ current_year }}</p>
    </div>
  </div>
  
  
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>