{% extends 'base-funcionario.html' %}

{% block content %}
<div class="container">
  {% block content_header %}
    <h2>Cronogramas</h2>
    <form action="" class="pure-form">
      <fieldset>
          <legend>Pesquisa de Cronogramas</legend>
          <input type="text" size="30" id="pesquisa" name="pesquisa" placeholder="Estrutura"/>
          <button type="submit" class="pure-button pure-button-primary">Pesquisar</button>
      </fieldset>
    </form>
    <a class="navbar-brand pure-button pure-button-primary btn-sm" 
    href="{% url 'new_chronogram' %}">
        <span class="icono-plus" aria-hidden="true"></span>
        Novo Cronograma
    </a>
    <hr>
  {% endblock %}
  {% for cronograma in cronogramas %}
    <p>Estrutura:
      {{ cronograma.estrutura }}
    </p>
    <p>Cliente:
      {{ cronograma.cliente }}
    </p>
    <p>Endereço:
      {{ cronograma.endereco }}
    </p>
    <form method="post" action="{% url 'delete_chronogram' cronograma.id %}">
      {% csrf_token %}
      <a href="{% url 'update_chronogram' cronograma.id %}" style="text-decoration:none">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="button">
        Alterar
      </button>
      </a>
      <button type="submit" class="btn btn-outline-danger my-2 my-sm-0" onclick="return confirm('Tem certeza que deseja deletar esse registro?');">Excluir</button>
    </form>
      <hr>
  {% endfor %}
 
</div>
{% endblock %}