{% extends 'base-funcionario.html' %}

{% block content %}
<div class="container">
  <h1>Clientes</h1>
  <form action="" class="pure-form">
    <fieldset>
        <legend>Pesquisa de Clientes</legend>
        <input type="text" size="30" id="pesquisa" name="pesquisa" placeholder="Escreva o Nome do Cliente" value="{{ request.GET.pesquisa }}"/>
        <button type="submit" class="pure-button pure-button-primary">Pesquisar</button>
    </fieldset>
  </form>
<hr>
  {% for cliente in clientes %}
  <fieldset>
    <legend> <b>Dados do cliente</b> </legend>
    <p>
      <label>Nome:
        {{ cliente.nome }}
      </label>
    </p>
    <p>
      <label>Telefone:
        {{ cliente.fone }}
      </label>
    </p>
    <p>
      <label>E-mail:
        {{ cliente.email }}
      </label>
    </p>

    <form method="post" action="{% url 'excluir_clientes' cliente.pk %}">
      {% csrf_token %}
      <a href="{% url 'alterar_clientes' cliente.id %}" style="text-decoration:none">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="button">
          Alterar
        </button>
      </a>
      <button type="submit" class="btn btn-outline-danger my-2 my-sm-0" onclick="return confirm('Tem certeza que deseja deletar esse registro? Verifique a exclusão do Cronograma cadastrado a este cliente.');">Excluir</button>
    </form>
    <hr>
  {% endfor %}

  <div class="paginator">
    <span class="step-links">
      {% if clientes.has_previous %}
        <a href="?page={{ clientes.previous_page_number }}"> <i class="fas fa-arrow-left"></i> </a>
      {% endif %}

      {% if clientes.paginator.num_pages %}
        <span class="current">
          {{ clientes.number }} de {{ clientes.paginator.num_pages }}
        </span>
      {% endif %}

      {% if clientes.has_next %}
        <a href="?page={{ clientes.next_page_number }}"> <i class="fas fa-arrow-right"></i> </a>
      {% endif %}
    </span>
  </div>

</div>
{% endblock %}