{% extends 'base-funcionario.html' %}

{% block content %}
<div class="container">
  <h2>Comentários</h2>
  <form action="" class="pure-form">
    <fieldset>
        <legend>Pesquisa de Comentários</legend>
        <input type="text" size="30" id="pesquisa" name="pesquisa" placeholder="Escreva o Assunto" value="{{ request.GET.pesquisa }}"/>
        <button type="submit" class="pure-button pure-button-primary">Pesquisar</button>
    </fieldset>
  </form>
  <hr>
  <div class="container">
    {% for comentario in comentarios %}
      <p>Cliente:
        {{ comentario.nome_cliente }}
      </p>
      <p>Assunto:
        {{ comentario.assunto }}
      </p>
      <p>Descrição:
        {{ comentario.descricao }}
      </p>
      <p>Arquivo:
        {% if comentario.arquivo %}
          <a href="{{ comentario.arquivo.url }}" class="pure-button pure-button-active" target="_blank">
            Baixar
          </a>
          {% else %}
            <span class="pure-form-message">Sem arquivo</span>
        {% endif %}
      </p>
      <br>
      <hr>
    {% endfor %}

    <div class="paginator">
      <span class="step-links">
        {% if comentarios.has_previous %}
          <a href="?page={{ comentarios.previous_page_number }}"> <i class="fas fa-arrow-left"></i> </a>
        {% endif %}

        {% if comentarios.paginator.num_pages %}
          <span class="current">
            {{ comentarios.number }} de {{ comentarios.paginator.num_pages }}
          </span>
        {% endif %}

        {% if comentarios.has_next %}
          <a href="?page={{ comentarios.next_page_number }}"> <i class="fas fa-arrow-right"></i> </a>
        {% endif %}
      </span>
    </div>
  </div>
</div>
{% endblock %}