{% extends 'base-funcionario.html' %}

{% block content %}
<div class="container">
  <h2>Comentários</h2>
  <form action="" class="pure-form">
    <fieldset>
        <legend>Pesquisa de Comentários</legend>
        <input type="text" size="30" id="pesquisa" name="pesquisa" placeholder="Assunto"/>
        <button type="submit" class="pure-button pure-button-primary">Pesquisar</button>
    </fieldset>
  </form>
  <hr>
  <div class="container">
    {% for comentario in comentarios %}
      <p>Cliente:
        {{ comentario.nome_cliente }}
      </p>
      <p>Assunto:
        {{ comentario.assunto }}
      </p>
      <p>Descrição:
        {{ comentario.descricao }}
      </p>
      <p>Arquivo:
        {% if comentario.arquivo %}
          <a href="{{ comentario.arquivo.url }}" class="pure-button pure-button-active" target="_blank">
            Baixar
          </a>
          {% else %}
            <span class="pure-form-message">No arquivo</span>
        {% endif %}
      </p>
      <br>
      <hr>
    {% endfor %}
  </div>
</div>
{% endblock %}