{% extends 'base-cliente.html' %}

{% block content %}
<div class="container">
  {% block content_header %}
    <h2>Comentários</h2>
    <form action="" class="pure-form">
      <fieldset>
          <legend>Pesquisa de Comentários</legend>
          <input type="text" size="30" id="pesquisa" name="pesquisa" placeholder="Assunto"/>
          <button type="submit" class="pure-button pure-button-primary">Pesquisar</button>
      </fieldset>
    </form>
    <a class="navbar-brand pure-button pure-button-primary btn-sm" 
    href="{% url 'criar_comentario' %}">
        <span class="icono-plus" aria-hidden="true"></span>
        Novo comentario
    </a>   
    <hr>
  {% endblock %}
  <div class="container">
    {% for comentario in comentarios %}
      <p>Cliente:
        {{ comentario.nome_cliente }}
      </p>
      <p>Assunto:
        {{ comentario.assunto }}
      </p>
      <p>Descrição:
        {{ comentario.descricao }}
      </p>
      <p>Arquivo:
        {% if comentario.arquivo %}
          <a href="{{ comentario.arquivo.url }}" class="pure-button pure-button-active" target="_blank">
            Baixar
          </a>
          {% else %}
            <span class="pure-form-message">No arquivo</span>
        {% endif %}
      </p>
      <p>Alterar Comentário:
        <a href="{% url 'update_comentario' comentario.id %}" style="text-decoration:none">
          <button class="btn btn-info btn-sm" type="button">
            Alterar
          </button>
        </a>
      </p>
      <form method="post" action="{% url 'delete_comentario' comentario.id %}"> <!--Deve ser 'pk' em urls também-->
        {% csrf_token %}
        Deletar arquivo:
        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja deletar esse registro?');">
          Excluir
        </button>
      </form>
          <br>
          <hr>
    {% endfor %}
  </div>
</div>
{% endblock %}