{% extends "base.html" %}

{% block content %}
<div style="margin: 35px;">
    <h1>Fale conosco</h1>
    <p>Você pode entrar em contato conosco tanto por e-mail como pelas redes sociais. Abaixo seguem os links para contato:</p>
    <h4>Links</h4>
    <ul>
        <li>E-mail: <a href="mailto:contato@confidencechronogram.org">contato@confidencechronogram.org</a></li>
        <li>Twitter: <a href="https://twitter.com/">@ConfidenceChronogram</a> </li>
        <li>IFSP: <a href="https://www.ifsp.edu.br/">ifsp.edu.br</a> </li>
    </ul>
</div>
{% endblock %}