{% extends 'base-funcionario.html' %}

{% block content %}
<div class="container">
  {% block content_header %}
    <h2>Depósitos</h2>
    <form action="" class="pure-form">
      <fieldset>
          <legend>Pesquisa de Depósitos</legend>
          <input type="text" size="30" id="pesquisa" name="pesquisa" placeholder="Depósito"/>
          <button type="submit" class="pure-button pure-button-primary">Pesquisar</button>
      </fieldset>
    </form>
    <a class="navbar-brand pure-button pure-button-primary btn-sm" 
    href="{% url 'novo_deposito' %}">
        <span class="icono-plus" aria-hidden="true"></span>
        Novo Depósito
    </a>   
    <hr>
  {% endblock %}

        {% for deposito in deposito %}
          <p>Nome:
            {{ deposito.nome }}
          </p>
          <p>E-mail:
            {{ deposito.email }}
          </p>
          <p>Telefone:
            {{ deposito.fone }}
          </p>
            <form method="post" action="{% url 'excluir_deposito' deposito.id %}">
              {% csrf_token %}
              <a href="{% url 'alterar_deposito' deposito.id %}" style="text-decoration:none">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="button">
                Alterar
              </button>
              </a>
              <button type="submit" class="btn btn-outline-danger my-2 my-sm-0" onclick="return confirm('Tem certeza que deseja deletar esse registro?');">Excluir</button>
            </form>
              <hr>
        {% endfor %}
        <div class="paginator">
          <span class="step-links">
            {% if deposito.has_previous %}
              <a href="?page={{ deposito.previous_page_number }}"> <i class="fas fa-arrow-left"></i> </a>
            {% endif %}
    
            <span class="current">
              {{ deposito.number }} de {{ deposito.paginator.num_pages }}
            </span>
    
            {% if deposito.has_next %}
              <a href="?page={{ deposito.next_page_number }}"> <i class="fas fa-arrow-right"></i> </a>
            {% endif %}
          </span>
        </div>

</div>
{% endblock %}