{% extends 'base-funcionario.html' %}

{% block content %}
<div class="container">
  {% block content_header %}
    <h2>Empreiteiras</h2>
    <form action="" class="pure-form">
      <fieldset>
          <legend>Pesquisa de Empreiteiras</legend>
          <input type="text" size="30" id="pesquisa" name="pesquisa" placeholder="Escreva o Nome da Empreiteira" value="{{ request.GET.pesquisa }}"/>
          <button type="submit" class="pure-button pure-button-primary">Pesquisar</button>
      </fieldset>
    </form>
    <a class="navbar-brand pure-button pure-button-primary btn-sm" 
    href="{% url 'nova_empreiteira' %}">
        <span class="icono-plus" aria-hidden="true"></span>
        Nova Empreiteira
    </a>   
    <hr>
  {% endblock %}
    {% for empreiteira in empreiteira %}
      <p>Empreiteira:
        {{ empreiteira.nome }}
      </p>
      <p>E-mail:
        {{ empreiteira.email }}
      </p>
      <p>Telefone:
        {{ empreiteira.fone }}
      </p>
      
      <form method="post" action="{% url 'excluir_empreiteira' empreiteira.id %}">
        {% csrf_token %}
        <a href="{% url 'alterar_empreiteira' empreiteira.id %}" style="text-decoration:none">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="button">
            Alterar
          </button>
        </a>
        <button type="submit" class="btn btn-outline-danger my-2 my-sm-0" onclick="return confirm('Tem certeza que deseja deletar esse registro? Verifique se não tem outro registro vinculado a este.');">Excluir</button>
      </form>
      <hr>
    {% endfor %}
    <div class="paginator">
      <span class="step-links">
        {% if empreiteira.has_previous %}
          <a href="?page={{ empreiteira.previous_page_number }}"> <i class="fas fa-arrow-left"></i> </a>
        {% endif %}

        {% if empreiteira.paginator.num_pages %}
          <span class="current">
            {{ empreiteira.number }} de {{ empreiteira.paginator.num_pages }}
          </span>
        {% endif %}

        {% if empreiteira.has_next %}
          <a href="?page={{ empreiteira.next_page_number }}"> <i class="fas fa-arrow-right"></i> </a>
        {% endif %}
      </span>
    </div>

</div>
{% endblock %}