{% extends 'base-funcionario.html' %}

{% block content %}
<div class="container">
  {% block content_header %}
    <h2>Funcionários das Obras</h2>
    <form action="" class="pure-form">
      <fieldset>
          <legend>Pesquisa de Funcionário da Obra</legend>
          <input type="text" size="30" id="pesquisa" name="pesquisa" placeholder="Nome"/>
          <button type="submit" class="pure-button pure-button-primary">Pesquisar</button>
      </fieldset>
    </form>
    <a class="navbar-brand pure-button pure-button-primary btn-sm" 
    href="{% url 'novo_funcionario_da_obra' %}">
        <span class="icono-plus" aria-hidden="true"></span>
        Novo Funcionário 
    </a>   
    <hr>
  {% endblock %}

        {% for funcionario_da_obra in funcionario_da_obra %}
        <p>Nome:
          {{ funcionario_da_obra.nome }}
        </p>
        <p>E-mail:
          {{ funcionario_da_obra.email }}
        </p>
        <p>Telefone:
          {{ funcionario_da_obra.fone }}
        </p>
        <form method="post" action="{% url 'excluir_funcionario_da_obra' funcionario_da_obra.id %}">
            {% csrf_token %}
            <a href="{% url 'alterar_funcionario_da_obra' funcionario_da_obra.id %}" style="text-decoration:none">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button">
              Alterar
            </button>
            </a>
          <button type="submit" class="btn btn-outline-danger my-2 my-sm-0" onclick="return confirm('Tem certeza que deseja deletar esse registro?');">Excluir</button>
        </form>
      <hr>
        {% endfor %}
        <div class="paginator">
          <span class="step-links">
            {% if funcionario_da_obra.has_previous %}
              <a href="?page={{ funcionario_da_obra.previous_page_number }}"> <i class="fas fa-arrow-left"></i> </a>
            {% endif %}
    
            <span class="current">
              {{ funcionario_da_obra.number }} de {{ funcionario_da_obra.paginator.num_pages }}
            </span>
    
            {% if funcionario_da_obra.has_next %}
              <a href="?page={{ funcionario_da_obra.next_page_number }}"> <i class="fas fa-arrow-right"></i> </a>
            {% endif %}
          </span>
        </div>
</div>
{% endblock %}