{% extends "base.html" %}

{% block content %}
<div style="margin: 35px;">
    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        Uma simples plataforma para controle confiável de cronograma para clientes e empresas. 

                    </h1>
                    <h2 class="splash-subhead">
                       O Confidence Chronogram visa controlar com notificações via e-mail com descrições, 
                       tempos e valores das tarefas do cronograma. 
                       O projeto é visualizado pelos clientes e "funcionários" na forma de diagrama de gantt.
                    </h2>
                    <p>
                        <a href="#pedido" class="pure-button primary-button">Saiba mais</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Vídeos e fotos</h4>
                    <h3>Publique sua construção</h3>
                    <p>
                        A Construtora X tem seus próprios métodos de execução com excelentes mestres de obras.
                    </p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <!--<img src="http://placehold.it/400x250"
                         alt="imagem .">-->
                    <img src="../static/images/cronograma.png"
                         alt="Cronograma Cliente">
                </div>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <div class="l-box">
                    <!--<img src="http://placehold.it/400x250"
                         alt="imagem .">-->
                    <img src="../static/images/cronogramas.png"
                         alt="Cronogramas">
                </div>
            </div>
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Fórum de Dúvidas</h4>
                    <h3>Interaja com o cronograma</h3>
                    <p>
                        Atendimento de forma exclusiva com seu próprio fórum no sistema do site para interagir com responsáveis da construção

                    </p>
                </div>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div id="pedido" class="l-box">
                    <h4 class="content-subhead">Documentos</h4>
                    <h3>Crie um fórum para avaliar a execução das atividades</h3>
                    <p>
                        Você pode criar atividades para que os responsáveis possam ser avaliados e todo o controle de satisfação é controlado pela plataforma do site, facilitando sua vida
                   
                    </p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <!--<img src="http://placehold.it/400x250"
                         alt="imagem .">-->
                    <img src="../static/images/tarefas.png"
                         alt="tarefas">
                </div>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <div class="l-box">
                    <!--<img src="http://placehold.it/400x250"
                         alt="imagem .">-->
                    <img src="../static/images/valores.png"
                         alt="Valores">
                </div>
            </div>
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Mural de Avisos</h4>
                    <h3>Envie anúncios diretamente para o responsável da atividades</h3>
                    <p>
                        Organize os avisos das atividades de sua construção de forma fácil e simples.
                   
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
