{% extends 'base-cliente.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container" style="padding-top: 15px;">
    <h1>Manual do Cliente</h1>
    <h6>Links de Vídeos:</h6> <br>
            <a class="dropdown-item" href="#" target="_blank">MEUS DADOS</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" target="_blank">CRONOGRAMA</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" target="_blank">COMENTÁRIOS</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" target="_blank">TAREFAS</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" target="_blank">MAOS DE OBRA</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" target="_blank">MATERIAIS</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" target="_blank">TAXAS</a>
</div>
{% endblock %}