{% extends 'base-cliente.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container" style="padding-top: 15px;">
    <h1>Manual do Cliente</h1>
    <h6>Links de Vídeos:</h6> <br>
            <a class="dropdown-item" href="https://youtu.be/Sts42ECIbKU" target="_blank">CRONOGRAMA</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://youtu.be/H9AOSW1Wv7I" target="_blank">COMENTÁRIOS</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://youtu.be/r3JVscp1xrs" target="_blank">TAREFAS</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://youtu.be/Fffao33OBpw" target="_blank">MAOS DE OBRA</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://youtu.be/L9scXFwTEnA" target="_blank">MATERIAIS</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://youtu.be/gDBRozkw1pg" target="_blank">TAXAS</a>
</div>
{% endblock %}