{% extends 'base-funcionario.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container" style="padding-top: 15px;">
<h1>Manual do Funcionário</h1>
<h6>Links de Vídeos:</h6> <br>
    <a class="dropdown-item" href="https://youtu.be/-uUM_CWDb3A" target="_blank">PRIMEIRO FUNCIOÁRIO</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="https://youtu.be/Ph_fXS3o9VE" target="_blank">CADASTRO DE USUÁRIOS</a>
    <a class="dropdown-item" href="https://youtu.be/SonTQQvlCRA" target="_blank">CRONOGRAMA</a>
    <a class="dropdown-item" href="https://youtu.be/qYBJui8QEPs" target="_blank">EMPREITEIRA</a>
    <a class="dropdown-item" href="https://youtu.be/NDcFkvPFLcs" target="_blank">FUNCIONÁRIO DA OBRA</a>
    <a class="dropdown-item" href="https://youtu.be/XgNdFldY5vs" target="_blank">MÃO DE OBRA</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="https://youtu.be/egnfT3ZVAGU" target="_blank">DEPÓSITO</a>
    <a class="dropdown-item" href="https://youtu.be/nCPj0K31FsY" target="_blank">CATEGORIA DE MATERIAL</a>
    <a class="dropdown-item" href="https://youtu.be/5bF4LWzfUo8" target="_blank">MATERIAL</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="https://youtu.be/p0sNVC6F4jQ" target="_blank">ÓRGÃO</a>
    <a class="dropdown-item" href="https://youtu.be/EZpDqdslYRo" target="_blank">TAXA</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="https://youtu.be/8wNmslMvHuM" target="_blank"><strong>TAREFA</strong></a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="https://youtu.be/H9AOSW1Wv7I" target="_blank">COMENTÁRIOS</a>
    <div class="dropdown-divider"></div>
</div>
{% endblock %}