{% extends 'base-funcionario.html' %}

{% block content %}
<div class="content-ribbon" style="padding-top: 1rem;">
  {% block content_header %}
    <h2>Mão de Obra</h2>
    <form action="" class="pure-form">
      <fieldset>
          <legend>Pesquisa de Mão de Obra</legend>
          <input type="text" size="30" id="pesquisa" name="pesquisa" placeholder="Nome"/>
          <button type="submit" class="pure-button pure-button-primary">Pesquisar</button>
      </fieldset>
    </form>
    <a class="navbar-brand pure-button pure-button-primary btn-sm" 
    href="{% url 'nova_mao_de_obra' %}">
        <span class="icono-plus" aria-hidden="true"></span>
        Nova Mão de Obra
    </a>   
    
  {% endblock %}
  <div class="pure-u-1">
    <table class="pure-table pure-table-bordered">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Unidade</th>
          <th>Empreiteira</th>
          <th>Funcionário</th>
          <th>Alterar</th>
          <th>Excluir</th>
        </tr>
      </thead>
      <tbody>
        {% for mao_de_obra in mao_de_obra %}
          <tr>

            <td>{{ mao_de_obra.nome }}</td>
            <td>{{ mao_de_obra.unidade }}</td>
            <td>{{ mao_de_obra.empreiteiras }}</td>
            <td>{{ mao_de_obra.funcionarios_da_obra }}</td>

            <td><a href="{% url 'alterar_mao_de_obra' mao_de_obra.id %}" style="text-decoration:none">
                <button class="btn btn-info btn-sm" type="button">Alterar
                  <span class="icono-rename" aria-hidden="true"></span>
                </button>
              </a> </td>
            
            <!-- retirar exclusão ...-->
            <td>

              <form method="post" action="{% url 'excluir_mao_de_obra' mao_de_obra.id %}">
                {% csrf_token %}
                <!-- onclick deseja realmente deletar...-->
                <button type="submit" class="navbar-brand pure-button" onclick="return confirm('Tem certeza que deseja deletar esse registro?');">Excluir</button>
              
              </form>
            </td>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}