{% extends 'base-funcionario.html' %}

{% block content %}

{% load my_filters %}

<div class="container">
  {% block content_header %}
    <h2>Mão de Obra</h2>
    <form action="" class="pure-form">
      <fieldset>
          <legend>Pesquisa de Mão de Obra</legend>
          <input type="text" size="30" id="pesquisa" name="pesquisa" placeholder="Escreva o Nome da Mão de Obra" value="{{ request.GET.pesquisa }}"/>
          <button type="submit" class="pure-button pure-button-primary">Pesquisar</button>
      </fieldset>
    </form>
    <a class="navbar-brand pure-button pure-button-primary btn-sm" 
    href="{% url 'nova_mao_de_obra' %}">
        <span class="icono-plus" aria-hidden="true"></span>
        Nova Mão de Obra
    </a>   
    <hr>
  {% endblock %}

    {% for mao_de_obra in mao_de_obra %}
      <p>Nome:
        {{ mao_de_obra.nome }}
      </p>
      <p>Valor unitário:
        R${{ mao_de_obra.valor_unitario }}
      </p>
      <p>Quantidade:
        {{ mao_de_obra.quantidade }}
      </p>
      <p>Unidade:
        {{ mao_de_obra.unidade }}
      </p>
      <p>Valor total:
        R${% multiply mao_de_obra.valor_unitario mao_de_obra.quantidade %}
      </p>
      <!-- <p>Funcionários: erro não é todos - muitos para muitos...
        {% for funcionario in funcionarios %}
          - {{ funcionario.nome }}
        {% endfor %}
      </p> -->
      
      <form method="post" action="{% url 'excluir_mao_de_obra' mao_de_obra.id %}">
        {% csrf_token %}
        <a href="{% url 'alterar_mao_de_obra' mao_de_obra.id %}" style="text-decoration:none">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="button">
            Alterar
          </button>
        </a>
        <button type="submit" class="btn btn-outline-danger my-2 my-sm-0" onclick="return confirm('Tem certeza que deseja deletar esse registro?');">Excluir</button>
      </form>
    <hr>
    {% endfor %}
    <div class="paginator">
      <span class="step-links">
        {% if mao_de_obra.has_previous %}
          <a href="?page={{ mao_de_obra.previous_page_number }}"> <i class="fas fa-arrow-left"></i> </a>
        {% endif %}

        {% if mao_de_obra.paginator.num_pages %}
          <span class="current">
            {{ mao_de_obra.number }} de {{ mao_de_obra.paginator.num_pages }}
          </span>
        {% endif %}

        {% if mao_de_obra.has_next %}
          <a href="?page={{ mao_de_obra.next_page_number }}"> <i class="fas fa-arrow-right"></i> </a>
        {% endif %}
      </span>
    </div>

</div>
{% endblock %}