{% extends 'base-funcionario.html' %}

{% block content %}

{% load my_filters %}

<div class="container">
  {% block content_header %}
    <h2>Materiais</h2>
    <form action="" class="pure-form">
      <fieldset>
          <legend>Pesquisa de Material</legend>
          <input type="text" size="30" id="pesquisa" name="pesquisa" placeholder="Escreva o Nome do Material" value="{{ request.GET.pesquisa }}"/>
          <button type="submit" class="pure-button pure-button-primary">Pesquisar</button>
      </fieldset>
    </form>
    <a class="navbar-brand pure-button pure-button-primary btn-sm" 
    href="{% url 'novo_material' %}">
        <span class="icono-plus" aria-hidden="true"></span>
        Novo Material
    </a>   
    <hr>
  {% endblock %}
      {% for material in material %}
      <p>Nome:
        {{ material.nome }}
      </p>
      <p>Unidade:
        {{ material.unidade }}
      </p>
      <p>Valor unitário:
        R${{ material.valor_unitario }}
      </p>
      <p>Quantidade:
        {{ material.quantidade }}
      </p>
      <p>Valor total:
          R${% multiply material.valor_unitario material.quantidade %}
         <!-- widthratio  material.quantidade 1 material.valor_unitario  -->
      </p>
      <p>Depósito:
        {{ material.deposito.nome }}
      </p>
        <form method="post" action="{% url 'excluir_material' material.id %}">
          {% csrf_token %}
          <a href="{% url 'alterar_material' material.id %}" style="text-decoration:none">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button">
              Alterar
            </button>
          </a>
          <button type="submit" class="btn btn-outline-danger my-2 my-sm-0" onclick="return confirm('Tem certeza que deseja deletar esse registro?');">Excluir</button>
        </form>
      <hr>
      {% endfor %}
      <div class="paginator">
        <span class="step-links">
          {% if material.has_previous %}
            <a href="?page={{ material.previous_page_number }}"> <i class="fas fa-arrow-left"></i> </a>
          {% endif %}
          
          {% if material.paginator.num_pages %}
            <span class="current">
              {{ material.number }} de {{ material.paginator.num_pages }}
            </span>
          {% endif %}
            
  
          {% if material.has_next %}
            <a href="?page={{ material.next_page_number }}"> <i class="fas fa-arrow-right"></i> </a>
          {% endif %}
        </span>
      </div>
</div>
{% endblock %}