{% extends 'base-funcionario.html' %}

{% block content %}
<div class="content-ribbon" style="padding-top: 1rem;">
  {% block content_header %}
    <h2>Orgãos</h2>
    <form action="" class="pure-form">
      <fieldset>
          <legend>Pesquisa de Orgãos</legend>
          <input type="text" size="30" id="pesquisa" name="pesquisa" placeholder="Orgão"/>
          <button type="submit" class="pure-button pure-button-primary">Pesquisar</button>
      </fieldset>
    </form>
    <a class="navbar-brand pure-button pure-button-primary btn-sm" 
    href="{% url 'novo_orgao' %}">
        <span class="icono-plus" aria-hidden="true"></span>
        Novo Orgão
    </a>   
    
  {% endblock %}
  <div class="pure-u-1">
    <table class="pure-table pure-table-bordered">
      <thead>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Telefone</th>
          <th>Taxas</th>
          <th>Alterar</th>
          <th>Excluir</th>
        </tr>
      </thead>
      <tbody>
        {% for orgao in orgao %}
          <tr>

            <td>{{ orgao.nome }}</td>
            <td>{{ orgao.email }}</td>
            <td>{{ orgao.fone }}</td>
            <td>{{ orgao.taxas }}</td>

            <td><a href="{% url 'alterar_orgao' orgao.id %}" style="text-decoration:none">
                <button class="btn btn-info btn-sm" type="button">Alterar
                  <span class="icono-rename" aria-hidden="true"></span>
                </button>
              </a> </td>
            
            <!-- retirar exclusão ...-->
            <td>

              <form method="post" action="{% url 'excluir_orgao' orgao.id %}">
                {% csrf_token %}
                <!-- onclick deseja realmente deletar...-->
                <button type="submit" class="navbar-brand pure-button" onclick="return confirm('Tem certeza que deseja deletar esse registro?');">Excluir</button>
              
              </form>
            </td>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}