{% extends 'base-funcionario.html' %}

{% block content %}
<div class="container">
  {% block content_header %}
    <h2>Órgãos</h2>
    <form action="" class="pure-form">
      <fieldset>
          <legend>Pesquisa de Orgãos</legend>
          <input type="text" size="30" id="pesquisa" name="pesquisa" placeholder="Escreva o Nome do Orgão" value="{{ request.GET.pesquisa }}"/>
          <button type="submit" class="pure-button pure-button-primary">Pesquisar</button>
      </fieldset>
    </form>
    <a class="navbar-brand pure-button pure-button-primary btn-sm" 
    href="{% url 'novo_orgao' %}">
        <span class="icono-plus" aria-hidden="true"></span>
        Novo Orgão
    </a>   
    <hr>
  {% endblock %}
    {% for orgao in orgao %}
      <p>Nome:
        {{ orgao.nome }}
      </p>
      <p>E-mail:
        {{ orgao.email }}
      </p>
      <p>Telefone:
        {{ orgao.fone }} 
      </p>

        <form method="post" action="{% url 'excluir_orgao' orgao.id %}">
          {% csrf_token %}
          <a href="{% url 'alterar_orgao' orgao.id %}" style="text-decoration:none">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button">
              Alterar
            </button>
          </a>
        <button type="submit" class="btn btn-outline-danger my-2 my-sm-0" onclick="return confirm('Tem certeza que deseja deletar esse registro? Verifique se não tem outro registro vinculado a este.');">Excluir</button>
      </form>
    <hr>
    {% endfor %}
    <div class="paginator">
      <span class="step-links">
        {% if orgao.has_previous %}
          <a href="?page={{ orgao.previous_page_number }}"> <i class="fas fa-arrow-left"></i> </a>
        {% endif %}
        
        {% if orgao.paginator.num_pages %}
          <span class="current">
            {{ orgao.number }} de {{ orgao.paginator.num_pages }}
          </span>
        {% endif %}

        {% if orgao.has_next %}
          <a href="?page={{ orgao.next_page_number }}"> <i class="fas fa-arrow-right"></i> </a>
        {% endif %}
      </span>
    </div>
</div>
{% endblock %}