{% extends 'base-funcionario.html' %}

{% block content %}
<div class="container">
  {% block content_header %}
    <h2>Tarefas</h2>
    <form action="" class="pure-form">
      <fieldset>
          <legend>Pesquisa de Tarefas</legend>
          <input type="text" size="30" id="pesquisa" name="pesquisa" placeholder="Tarefa"/>
          <button type="submit" class="pure-button pure-button-primary">Pesquisar</button>
      </fieldset>
    </form>
    <a class="navbar-brand pure-button pure-button-primary btn-sm" 
    href="{% url 'new_task' %}">
        <span class="icono-plus" aria-hidden="true"></span>
        Nova Tarefa
    </a>   
    <hr>
  {% endblock %}
        {% for task in tasks %}
        <p>
          Ident:
            {{ task.ident }}
        </p>
        <p>
          Estrutura:
            {{ task.cronograma.estrutura }}
        </p>
        <p>
          Nome:
            {{ task.nome }}
        </p>
        <p>
          Data Inicial:
            {{ task.dt_inicial }}
        </p>
        <p>
          Data Final:
            {{ task.dt_final }}
        </p>
        <p>
          Processo:
            {{ task.progresso }}
        </p>
        <p>
          Dependências:
            {{ task.dependencias }}
        </p>
        <p>
          Valores:
            colocar alguma função
        </p>
        <form method="post" action="{% url 'delete_task' task.id %}">
          {% csrf_token %}
          <a href="{% url 'update_task' task.id %}" style="text-decoration:none">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="button">
            Alterar
          </button>
          </a>
          <button type="submit" class="btn btn-outline-danger my-2 my-sm-0" onclick="return confirm('Tem certeza que deseja deletar esse registro?');">Excluir</button>
        </form>
          <hr>
        {% endfor %}

</div>
{% endblock %}