{% extends 'base-funcionario.html' %}

{% block content %}

{% load my_filters %}

<div class="container">
  {% block content_header %}
    <h2>Tarefas</h2>
    <form action="" class="pure-form">
      <fieldset>
          <legend>Pesquisa de Tarefas</legend>
          <input type="text" size="30" id="pesquisa" name="pesquisa" placeholder="Escreva o nome da Tarefa" value="{{ request.GET.pesquisa }}"/>
          <button type="submit" class="pure-button pure-button-primary">Pesquisar</button>
      </fieldset>
    </form>
    <a class="navbar-brand pure-button pure-button-primary btn-sm" 
    href="{% url 'new_task' %}">
        <span class="icono-plus" aria-hidden="true"></span>
        Nova Tarefa
    </a>   
    <hr>
  {% endblock %}
        {% for task in tasks %}
        <p>
          Nome:
            <b>{{ task.nome }}</b>
        </p>
        <p>
          Ident:
            {{ task.ident }}
        </p>
        <p>
          Dependências:
            {{ task.dependencias }}
        </p>
        <p>
          Data Inicial:
            {{ task.dt_inicial }}
        </p>
        <p>
          Data Final:
            {{ task.dt_final }}
        </p>
        <p>
          Processo:
            {{ task.progresso }}%
        </p>
        <!-- <p> Se precisar mostrar o valor
          Valores:
            colocar alguma função
        </p> -->
        <p>
          Estrutura:
            {{ task.cronograma.estrutura }}
        </p>
        <p>
          Cliente:
            {{ task.cronograma.cliente }}
        </p>
        <form method="post" action="{% url 'delete_task' task.id %}">
          {% csrf_token %}
          <a href="{% url 'update_task' task.id %}" style="text-decoration:none">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="button">
            Alterar
          </button>
          </a>
          <button type="submit" class="btn btn-outline-danger my-2 my-sm-0" onclick="return confirm('Tem certeza que deseja deletar esse registro?');">Excluir</button>
        </form>
          <hr>
        {% endfor %}
    <div class="paginator">
      <span class="step-links">
        {% if tasks.has_previous %}
          <a href="?page={{ tasks.previous_page_number }}"> <i class="fas fa-arrow-left"></i> </a>
        {% endif %}

        {% if tasks.paginator.num_pages %}
          <span class="current">
            {{ tasks.number }} de {{ tasks.paginator.num_pages }}
          </span>
        {% endif %}

        {% if tasks.has_next %}
          <a href="?page={{ tasks.next_page_number }}"> <i class="fas fa-arrow-right"></i> </a>
        {% endif %}
      </span>
    </div>

</div>
{% endblock %}