{% extends 'base-funcionario.html' %}

{% block content %}

{% load my_filters %}

<div class="container">
  {% block content_header %}
    <h2>Taxas</h2>
    <form action="" class="pure-form">
      <fieldset>
          <legend>Pesquisa de Taxas</legend>
          <input type="text" size="30" id="pesquisa" name="pesquisa" placeholder="Escreva o Nome da Taxa" value="{{ request.GET.pesquisa }}"/>
          <button type="submit" class="pure-button pure-button-primary">Pesquisar</button>
      </fieldset>
    </form>
    <a class="navbar-brand pure-button pure-button-primary btn-sm" 
    href="{% url 'nova_taxa' %}">
        <span class="icono-plus" aria-hidden="true"></span>
        Nova Taxa
    </a>   
    <hr>
  {% endblock %}
    {% for taxa in taxa %}
      <p>Nome:
        {{ taxa.nome }}
      </p>
      <p>Unidade:
        {{ taxa.unidade }}
      </p>
      <p>Valor unitário:
        R${% substitui taxa.valor_unitario %}
      </p>
      <p>Quantidade:
        {% substitui taxa.quantidade %}
      </p>
      <p>Unidade:
        {{ taxa.unidade}}
      </p>
      <p>Valor total:
        R${% multiply taxa.valor_unitario taxa.quantidade %}
      </p>
      <p>Órgão:
        {{ taxa.orgao.nome }}
      </p>
      <form method="post" action="{% url 'excluir_taxa' taxa.id %}">
        {% csrf_token %}
        <a href="{% url 'alterar_taxa' taxa.id %}" style="text-decoration:none">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="button">
            Alterar
          </button>
        </a>
        <button type="submit" class="btn btn-outline-danger my-2 my-sm-0" onclick="return confirm('Tem certeza que deseja deletar esse registro? Verifique se não tem outro registro vinculado a este.');">Excluir</button>
      </form>
        <hr>
    {% endfor %}
    <div class="paginator">
      <span class="step-links">
        {% if taxa.has_previous %}
          <a href="?page={{ taxa.previous_page_number }}"> <i class="fas fa-arrow-left"></i> </a>
        {% endif %}

        {% if taxa.paginator.num_pages %}
          <span class="current">
            {{ taxa.number }} de {{ taxa.paginator.num_pages }}
          </span>
        {% endif %}

        {% if taxa.has_next %}
          <a href="?page={{ taxa.next_page_number }}"> <i class="fas fa-arrow-right"></i> </a>
        {% endif %}
      </span>
    </div>
</div>
{% endblock %}