{% extends 'base-cliente.html' %}

{% block content %}
<div class="content-ribbon">
  {% block content_header %}
    <h2>Valores das Tarefas</h2>
    <form action="" class="pure-form">
      <fieldset>
          <legend>Pesquisa de Valores das Tarefas</legend>
          <input type="text" size="30" id="pesquisa" name="pesquisa" placeholder="Nome da Tarefa"/>
          <button type="submit" class="pure-button pure-button-primary">Pesquisar</button>
      </fieldset>
    </form>
    
  {% endblock %}
  <a class="navbar-brand pure-button pure-button-primary btn-sm" 
    href="{% url 'relatorio' %}">
        <span class="icono-check" aria-hidden="true"></span>
        Gerar Relatório
  </a> 
  <hr>
  <!-- <a class="navbar-brand pure-button pure-button-primary btn-sm" 
    href=" url 'e_mail' ">
        <span class="icono-mail" aria-hidden="true"></span>
        Enviar E-mail
  </a>  -->

  {% for task in tasks %}
    <p>Nome:
    <b>{{ task.nome }}</b>
    </p>
    <p>Data inicial:
      {{ task.dt_inicial }}
    </p>
    <p>Data final:
      {{ task.dt_final }}
    </p>
    <p>Valor total:
      Colocar uma função
    </p>
    <hr>
  {% endfor %}
</div>
{% endblock %}