{% extends 'base-funcionario.html' %}
{% block content %}
<div class="container" style="padding-top: 15px;">
    <form method="post">
        {% csrf_token %}
        <h1>|Cadastro de Usuário Funcionário|</h1>
        <div class="form-group">
            {{form_usuario.username.errors}}
            <label>Username: </label>
            {{form_usuario.username}}
        </div>

        <div class="form-group">
            {{form_usuario.password1.errors}}
            <label>Senha: </label>
            {{form_usuario.password1}}
        </div>

        <div class="form-group">
            {{form_usuario.password2.errors}}
            <label>Confirmação de senha: </label>
            {{form_usuario.password2}}
        </div>

        <div class="form-group">
            <input type="submit" value="Cadastrar" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock %}